body {
    padding-top: 50px;
}
.starter-template {
    padding: 5px 15px;
    text-align: left;
}
.container-custom {
    background-color: #FAFAFA;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row-custom {
    padding-bottom: 10px;    
}
.row-data {    
}
.viewer-container {
    padding-top: 10px;
}
.container-info {
    background-color: lightyellow;
    padding-top: 10px;
    padding-bottom: 10px;
}