<!-- Title -->
<div class="container">
    <div class="row">
        <div class="span12 text-center">
            <h1 ng-show="action==='create'">Nuovo Tipo Dispositivo</h1>
            <h1 ng-show="action==='edit'">Dettaglio Tipo Dispositivo</h1>            
        </div>
    </div>    
</div>

<!-- Toolbar -->
<div class="container container-custom">    
    <div class="span12">            
        <div class="btn-group">
            <button type="button" class="btn btn-danger" ng-click="remove();">Elimina</button>                
        </div>
    </div>            
</div>

<br/>

<!-- Dati -->
<div class="container container-custom">           
    <div class="row" ng-show="action==='edit'">
        <div class="span4 text-right">
            <span><b>Id</b></span>
        </div>          
        <div class="span8 text-left">            
            <input type="text" ng-model="data.id" ng-disabled="action==='edit'">
        </div>        
    </div>    
    <div class="row">
        <div class="span4 text-right">
            <span><b>Nome</b></span>
        </div>          
        <div class="span8 text-left">
            <input type="text" ng-model="data.name">
        </div>        
    </div>          
</div>

<br/>

<!-- Pulsanti -->
<div class="container container-custom"> 
    <div class="row">
        <div class="span12 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="ok();">Ok</button>
                <button type="button" class="btn btn-default" ng-click="cancel();">Annulla</button>
            </div>
        </div>    
    </div>
</div>