<!-- Title -->
<strong>Tipi di dispositivo</strong>

<hr>

<!-- Toolbar -->
<div class="row">
	<div class="col-md-2">
		<div class="btn-group btn-group-justified">
			<a ng-click="prepareForCreate()" class="btn btn-primary col-sm-3">
				<i class="glyphicon glyphicon-plus"></i><br>Nuovo
			</a>
		</div>
	</div>
</div>
<!--/Toolbar-->

<hr>

<!-- Dati -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Descrizione</th>
		</tr>
	</thead>
	<tbody ng-repeat="item in data">
		<tr>
			<td>{{item.id}}</td>
			<td><a href="#/deviceTypeDetail/edit/{{item.id}}">{{item.name}}</a></td>
		</tr>
	</tbody>
</table>
<!--/Dati-->

<hr>