<!-- Title -->
<div class="container">
    <div class="row">
        <div class="span12 text-center">
            <h1>Elenco Tipi Dispositivo</h1>
        </div>
    </div>    
</div>

<!-- Toolbar -->
<div class="container container-custom">    
    <div class="span12">            
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="prepareForCreate();">Nuovo</button>                
        </div>
    </div>            
</div>

<br/>

<div class="container container-custom">
        
    <!-- Header -->
    <div class="row row-custom">
        <div class="span2 text-center">
            <span><b>Id</b></span>
        </div>          
        <div class="span10 text-left">
            <span><b>Nome</b></span>
        </div>        
    </div>
    
    <!-- Dati -->    
    <div class="row" ng-repeat="item in data">    
        <div class="span2 text-center">
            <span>{{item.id}}</span>
        </div>    
        <div class="span10 text-left">
            <span><a href="#/deviceTypeDetail/edit/{{item.id}}">{{item.name}}</a></span>
        </div>    
    </div>
    
</div>